DATABASE_HOST="localhost"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres123"
DATABASE_NAME="dakhnirecipenew"
DATABASE_PORT=5432
DJANGO_SECRET_KEY='django-insecure-qtyr5adfk(k9o!--m9u&&&^0u-3lkdyfb8)un%vs!xmqt26$#4'
JWT_SECRET='cuwuidcbw89d2idca683dxnshdcheyhcbuxuqjkndkwqnxqrwiqupzkma'


EMAIL_HOST_USER='fladdradev@gmail.com'
EMAIL_HOST_PASSWORD='yxfqraaablrxzrdu'
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT='587'